.year-paper {
    background-color: black !important;
    color: coral !important;
    padding: 2em !important; 
    font-size: x-large !important;
}

.abstract-paper {
    text-align: left !important;
    background-color: black !important;
    color: white !important;
}